*{
    margin: 0;
    padding: 0;
}
:root{
    scroll-behavior: smooth;
}
#mas{
    text-align: center;
}
#mas a{
    text-decoration: none;
}
#mas a:hover{
    font-weight: bold;
}
h1{
    text-align: center;
}
h1 a{
    font-size: 10vw;
    text-decoration: none;
}
h1 a:hover{
    color: rgb(231, 141, 39);
}
p{
    margin: 10px 5vw;
    text-align: center;
}
h2{
    margin-top: 2vh;
    text-align: center;
    font-size: 5vw;
}
.links{
    z-index: -8;
    margin: 1vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.links a{
    text-align: center;
    margin: 10px 15px;
    width: 150px;
    font-size: 3vh;
}