*{
    margin: 0;
    padding: 0;
}
:root{
    scroll-behavior: smooth;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
}
header{
    text-align: center;
}
h1 a{
    font-size: 10vw;
    text-decoration: none;
}
header p{
    padding: 2vw;
    font-size: 1rem;
}
main div{
    margin-top: 2vh;
}
h2{
    text-align: center;
    font-size: 5vw;
}
.links{
    z-index: -8;
    margin: 1vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.links a{
    text-align: center;
    margin: 10px 15px;
    width: 150px;
    font-size: 3vh;
}
.theme_back{
    background-color: #2f2f2f;
}
.theme_one{
    color: #f2f2f2;
}
.theme_two{
    color: #f2f2f2ee;
}
.theme_three{
    color: #f2f2f2aa;
}
.theme_one_v{
    color: "#2f2f2f"
}