.infor{
    margin: 10vh 5vw;
    padding: 10px 10px;
    border:10px solid #f2f2f299;
    border-radius: 20px;
}
.infor p{
    margin-left: 6vh;
    font-size:3vw;
    color: #f2f2f2aa;
}
.infor div{
    margin: 3vh 3vw;
    padding: 5px;
    border:2px solid #f2f2f299;
    border-radius: 10px;
}
.infor div h2{
    font-size: 3.5vw;
    color: #f2f2f2;
}
.infor div h1{
    font-size: 4vw;
    color: #fff;
}
label{
    color: #fff;
}
.title{
    color: #fff;
    font-size: 15vw;
    margin: 2vh 2vw;
}